body {
  font-family: "Century Gothic";
	font-size:   10x;
}

h1, h2, h3, h4, h5, h6 {
  color: royalblue;
}

.app_left {
  width:            64%;
  display:          inline-block;
  vertical-align:   top;
  padding:          5px;
  overflow-x:       scroll;
  overflow-y:       scroll;
  height:           700px;
  font:             "Century Gothic";
}

.app_right {
  width:            34%;
  display:          inline-block;
  vertical-align:   top;
  padding:          5px;
  overflow-x:       scroll;
  overflow-y:       scroll;
  height:           700px;
  font:             "Century Gothic";
  background-color: rgba(234,234,234);
}

.app_full {
  width:            99%;
  display:          inline-block;
  vertical-align:   top;
  padding:          5px;
  overflow-x:       scroll;
  overflow-y:       scroll;
  height:           700px;
  font:             "Century Gothic";
  background-color:rgba(234,234,234);
}

.tab_style {
  font-weight:      bold;
}

.tab_selected_style {
  font-weight:      bold;
  background-color: cornflowerblue;
  color:            white;
}

.chk_bx_style {
  display:    block;
  overflow-x: scroll;
  overflow-y: scroll;
  height:     225px;
}

.custom-tabs-container {
  width: 85%;
}

.custom-tabs {
  border-top-left-radius: 3px;
  background-color: #f9f9f9;
  padding: 0px 24px;
  border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
  color:#586069;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 3px solid transparent !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  background-color: #fafbfc;
  padding: 12px !important;
  font-family: "system-ui";
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.custom-tab--selected {
  color: black;
  box-shadow:   1px 1px 0px white;
  border-left:  1px solid lightgrey !important;
  border-right: 1px solid lightgrey !important;
  border-top:   3px solid #e36209 !important;
}

.button_style {
  align-items:      center;
  background-color: cornflowerblue;
  font-family:      "Century Gothic";
  /* font-weight:      bold; */
  font-size:        15px;
  color:          white;
  height:           60px;
}

.button_style .submit {
  width: 200px;
}

.button_style .clear {
  width: 100px;
}

.button_layout {
  text-align: center;
  display:    inline;
  
}

.modal {
  position: fixed;
  z-index:  1002; /* Sit on top, including modebar which has z=1001 */
  left:     0;
  top:      0;
  width:    100%; /* Full width */
  height:   100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.modal-content {
  margin:           90px;
  padding:          30px;
  background-color: white;
}